<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484859945311-vffv9uipl1ohirg96h70u78t7pbg8mq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484859945311-vffv9uipl1ohirg96h70u78t7pbg8mq1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>484859945311-i3mpvbakeq01o0vvveb919qgvgvua5r1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLK6DrCZ58jpZpPO24N-nyx6djtHMxV2I</string>
	<key>GCM_SENDER_ID</key>
	<string>484859945311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evie.app</string>
	<key>PROJECT_ID</key>
	<string>evie-126a6</string>
	<key>STORAGE_BUCKET</key>
	<string>evie-126a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484859945311:ios:754d27de897c6908fa56ea</string>
</dict>
</plist>