<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214110477774-kfhm26bsh97d53ojd2ol3lmsom2dupju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214110477774-kfhm26bsh97d53ojd2ol3lmsom2dupju</string>
	<key>API_KEY</key>
	<string>AIzaSyD-c6LY9UrBxdo68xHgjNWTS1KEeSsQlZc</string>
	<key>GCM_SENDER_ID</key>
	<string>214110477774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.evieTest</string>
	<key>PROJECT_ID</key>
	<string>evie-6952d</string>
	<key>STORAGE_BUCKET</key>
	<string>evie-6952d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214110477774:ios:880970df7ca3fa958b5f9f</string>
</dict>
</plist>